/*HEADER*/

/*NAV*/

nav {
  display: flex;
  align-items: center;
  justify-content: center;
		
  height: 80px;
}

.nav-container{
  display: flex;
  justify-content: space-between;  
  align-items: center;

  width: 95%;
  height: 50px;
}

.nav-left-section,
.nav-right-section {
  display: flex;
  align-items: center;
  
  height: 100%;
  min-width: 70px;
}

.nav-left-section > img {
  padding-right: 10px;
}

/* JUMBOTRON */

.jumbotron {
  display: flex;
  align-items: flex-end;

  background-color: #B4D0E7;
  height: 750px;
  width: 100%;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  width: 35%;
  margin-top: 15px;

  text-align: 
}

.text-container > button {
  margin-top: 30px;
  margin-bottom: 20px;
}

.text-container > span {
  font-size: 18px;
  line-height: 22px;
}

.text-container > i {
  position: relative;
  top: 60px;

  font-size: 45px;
  font-weight: bold;
}

.image-container {
  position: relative;
  top: 80px;

  width: 65%;
}