
/* GENERAL */

main {
  
  padding-top: 150px;
}

/* SECTION 1 - CARD */

.card-container {
  display: flex;
  justify-content: space-between;
}

.top-card {
  display: flex;
  justify-content: center;

  border: 1px solid #D0D0D3;
  border-bottom: none;

  padding: 8px 0;
}

.bot-card {
  display: flex;
  flex-direction: column;

  border: 1px solid #D0D0D3;
  height: 840px;
  
  padding: 30px 30px 0 30px;
  font-size: 15px;
}

.bot-card .blue-button {
  font-size: 14px;
  width: 235px;
}

.enterprise .blue-button {
  padding: 10px 88px;
}

.card-big span{
  max-width: 650px;
}

.card-big .bot-card {
  height: 210px;
}

/* MEMBERS SECTION */

.members-section {
 
display: flex;
justify-content: center;
  
min-height: 400px;
height: 30vw;
max-height: 800px;

}

.members-info {
  display: flex;
  flex-direction: column;

  min-width: 400px;
  width: 40vw;
  max-width: 1000px;
  background-color: #f5f5f5;

  padding: 3%;
}

.members-info-image {
  width: 50%;
}

.members-column {
  display: flex;
  flex-direction: column;

  min-width: 400px;
  width: 30vw;
  max-width: 750px;

}

.members-row {
  display: flex;  
  height: 50%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 100%;
}

.box-image {
  width: 50%;
  filter: invert(100%);
}

.designit{
  background-color: #a2d39b;
  border: 15px solid #d1e9cd; 
}

.asu {
  background-color: #61082b;
}

.uf {
  background-color: #0093ce;
}

.topps {
  background-color: #ff1c1c;
}

.wbr {
  background-color: #8a2be2;
}

.hearst {
  background-color: #b4d0e7;
}

.lonely {
  background-color: #0d2481;
}

.channel {
  background-color: #ffd830;
}

/* START-DROPBOX SECTION */

.start-dropbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #B4D0E7;
}

.start-dropbox h2{
  color: #61082b;
  width: 500px;
  margin-right: 80px;
}