/* GENERAL */

main {
  
  padding-top: 150px;
}

/* SECTION 1 - CARD */

.card-container {
  display: flex;
  justify-content: space-between;
}

.top-card {
  display: flex;
  justify-content: center;

  border: 1px solid #D0D0D3;
  border-bottom: none;

  padding: 8px 0;
}

.bot-card {
  display: flex;
  flex-direction: column;

  border: 1px solid #D0D0D3;
  height: 840px;
  
  padding: 30px 30px 0 30px;
  font-size: 15px;
}

.bot-card .blue-button {
  font-size: 14px;
  width: 235px;
}

.enterprise .blue-button {
  padding: 10px 88px;
}

.card-big span{
  max-width: 650px;
}

.card-big .bot-card {
  height: 210px;
}

