/* UTILS */

/* GENERAL */

* {
	font-family: 'Roboto', sans-serif;
	color: black;
	
}

.space-line {
	width: 50px;
	height: 1px;
	background-color: #D0D0D3;
}



/* TEXT */

li {
	display: inline-block;
}

h1 {
	font-size: 80px;
	font-weight: 800;
}

h2 {
	font-size: 40px;
	font-weight: 800;
}

h3 {
	font-size: 24px;
	font-weight: 700;
}

.b {
	font-weight: bold;
}

.grey {
	color: gray;
}

.dark-grey {
	color: darkgrey;
}

.blue {
	color: blue;
}

/* BUTTONS */

.blue-button {
  padding: 10px 15px ;
  border: none;
  color: #ffff;
	background-color: #0061FF;
	font-size: 15px;
}

.blue-button:hover {
	cursor: pointer;
}

.trasparent-button {
  padding: 10px 15px ;
  border: 1px solid black;
  color: black;
	background-color: transparent;
	font-size: 15px;
}

.trasparent-button:hover {
	cursor: pointer;
}

/* CONTAINTERS */

section {

  width: 1000px;
	margin: 0 auto;
}

.container {

  width: 1000px;
	margin: 0 auto;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  width: 35%;
}

.image-container {
  width: 65%;
}

.card {
  width: 30%;
}

/* DISPLAY */

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.block {
	display: block;
}

.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.center {
	justify-content: center;
}

.align {
	align-items: center;
}

.space {
	justify-content: space-between;
}

.start {
	align-items: flex-start;
}

/* MARGINS */

.margin-v1 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.margin-v2 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.margin-v3 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.margin-v4 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.margin-r1 {
	margin-right: 10px;
}

.margin-r4 {
	margin-right: 40px;
}

.margin-b2 {
	margin-bottom: 20px;
}

.margin-b3 {
	margin-bottom: 30px;
}

.margin-b4 {
	margin-bottom: 40px;
}

.margin-t5 {
	margin-top: 50px;
}

.margin-t10 {
	margin-top: 100px;
}

/* PADDINGS */

.padding-o {
	padding-left: 22px;
	padding-right: 22px;
}